.muteButton {
    background-color: #434649;
    border: none;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    /* margin-top: 45px; */
    padding: 8px;
    vertical-align: middle;
    display: inline-block;
}

.muteIcon {
    width: 25px;
}

.unMuteIcon {
    width: 25px;
    display: none;
}